/* General body styling */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #151515; /* Background color for the entire app */
  color: #f1dfde; /* Text color */
}

/* Sidebar and main content container */
.app-layout {
  display: flex;
  height: 100vh; /* Full viewport height */
}

/* Sidebar styling */
.sidebar {
  width: 250px; /* Fixed width for sidebar */
  background-color: #363636;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  width: 100%;
  height: 50%;
}

.sidebar img.logo {
  width: 80%; /* Adjust logo size */
  margin-bottom: 20px;
}

.sidebar ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.sidebar li {
  margin-bottom: 20px;
}

.sidebar a {
  color: white; /* Sidebar link color */
  font-size: 18px;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  width: 100%;
  text-align: center;
}

.sidebar a:hover {
  background-color: #4a4a4a;
  border-radius: 8px;
}

/* Main content container */
.main-content {
  flex-grow: 1; /* Ensures it takes up the remaining space */
  background-color: #151515;
  padding: 20px;
  overflow-y: auto; /* Allows content to scroll */
}

/* General styles for links */
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: white;
}

/* Searchbar styling */
.search-container {
  display: flex;
  align-items: center;
  background-color: #f0f0f0; /* Light gray background */
  border-radius: 20px;
  padding: 5px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-input {
  border: none;
  outline: none;
  background: none;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  color: #333;
}

.search-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 18px;
  color: #333;
}

.search-button:hover {
  color: #007bff;
}

/* Container for the cards */
.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two cards per row */
  gap: 20px;
  margin: 20px;
}

/* Individual card */
.card {
  background-color: white;
  padding: 50px 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

/* Main content titles */
.card h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  color: #666;
}

/* Form styling */
.log-workout-form {
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 30px 200px;
}

label {
  color: black;
}

.form-group {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.submit-button {
  background-color: red;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.submit-button:hover {
  background-color: #ff4500;
}

/* Additional styling for goals page */
.goals-page,
.sidebar-right {
  padding: 20px;
  background-color: #151515;
  color: white;
}

.goal-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.goal-button {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.goal-list {
  margin-top: 20px;
  margin-left: 10px;
}

.goal-item {
  background-color: white;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
}
